
.content-table {
  font-size: 16px;
  color: #4a4747;
  line-height: 23px;
  margin-bottom: 0px;
  padding: 0 !important;
  overflow-x: scroll;
  text-align: justify;
}
.badge{
  margin: 5px;
  padding: 5px;
}